#message p.invalid {
  color: red;
}
#message p.valid {
  color: green;
}
.lazy-img {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}
.lazy-img.loaded {
  opacity: 1;
}

#up {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  background-color: #212529;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  display: none; /* схована за замовчуванням */
}
#chatbot {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: none;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#chatToggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 22px;
  cursor: pointer;
  z-index: 999;
}

.chat-header {
  background: #007bff;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
}

.chat-body {
  padding: 10px;
  height: 200px;
  overflow-y: auto;
  font-size: 14px;
}

.chat-body div {
  margin-bottom: 10px;
}

.chat-body .user {
  background-color: #dee2e6;
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 16px;
  text-align: right;
  margin-left: auto;
  max-width: 80%;
  color: #333;
}

.chat-body .bot {
  background-color: #d0ebff;
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 16px;
  text-align: left;
  margin-right: auto;
  max-width: 80%;
  color: #007bff;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
}

#chatInput {
  flex: 1;
  padding: 8px;
  border: none;
  border-bottom-left-radius: 10px;
}

#sendChat {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}
.fade-in.show {
  opacity: 1;
  transform: none;
}